<h1>SCADA</h1>

<p>Dobro dosli na <strong>SCADA</strong> sistem za upravaljanje smart kucom.
    Selektujte neku od prostorija za pregled podataka.
</p>

Ovu aplikaciju su kreirali:
<ul>
    <li><h4>Muharem Muharemovic</h4></li>
    <li><h4>Indir Karabegovic</h4></li>
    <li><h4>Nahid Delic</h4></li>    
</ul>

<p>Projekat je napravljen kao projekat za predmet Distribuirani sistemi automaziacije na Fakultetu elektrotehnike u Tuzli.
</p>
<a href="https://github.com/Indir99/Smart-home-project-esp8266-RTOS">GITHUB LINK</a>