

  <div class="containerr">
    
      <img src="../../assets/images/kuca.png"  class="slikakuce">
    <div class="hotspots">
      <div class="hotspot garaza">
        <div class="button-wrap">
          <button class='pulse-button' [routerLink]="['/garaza']" tuiHint="Garaza" >+</button>
        </div>
      </div>
    
    
      <div class="hotspot bazen">
        <div class="button-wrap">
          <button class='pulse-button' [routerLink]="['/bazen']" tuiHint="Bazen">+</button>
        </div>
      </div>
    
      <div class="hotspot sijalica">
        <div class="button-wrap">
          <button class='pulse-button' [routerLink]="['/soba']" tuiHint="Soba">+</button>
        </div>
      </div>
    
    </div>
    
    
  </div>


