
<div class="containerr">
  <img src="../../assets/images/kuca.png"  class="slikakuce">
  <div class="hotspots">
    <div class="hotspot garaza">
      <div class="button-wrap">
        <button class='pulse-button' [routerLink]="['/garaza']" >+</button>
      </div>
    </div>
  
  
    <div class="hotspot bazen">
      <div class="button-wrap">
        <button class='pulse-button' [routerLink]="['/bazen']">+</button>
      </div>
    </div>
  
    <div class="hotspot sijalica">
      <div class="button-wrap">
        <button class='pulse-button' [routerLink]="['/soba']">+</button>
      </div>
    </div>
  
  </div>
  
</div>
